workflows/email-notifications-workflow.json
{
  "name": "Email Notifications Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "email-webhook",
      "name": "Email Notification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "send-email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-type",
              "leftValue": "={{ $json.template }}",
              "rightValue": "welcome",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "welcome-email-condition",
      "name": "Is Welcome Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-type",
              "leftValue": "={{ $json.template }}",
              "rightValue": "test-results",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "test-results-condition",
      "name": "Is Test Results Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-type",
              "leftValue": "={{ $json.template }}",
              "rightValue": "appointment-reminder",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "appointment-reminder-condition",
      "name": "Is Appointment Reminder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:6464/api/email/send-welcome",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "firstName",
              "value": "={{ $json.firstName }}"
            },
            {
              "name": "template",
              "value": "welcome"
            }
          ]
        },
        "options": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:6464/api/email/send-test-results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "testResults",
              "value": "={{ $json.testResults }}"
            },
            {
              "name": "template",
              "value": "test-results"
            }
          ]
        },
        "options": {}
      },
      "id": "send-test-results-email",
      "name": "Send Test Results Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:6464/api/email/send-appointment-reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.to }}"
            },
            {
              "name": "appointmentData",
              "value": "={{ $json.appointmentData }}"
            },
            {
              "name": "template",
              "value": "appointment-reminder"
            }
          ]
        },
        "options": {}
      },
      "id": "send-appointment-reminder-email",
      "name": "Send Appointment Reminder Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:6464/api/database/log-email-sent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "emailData",
              "value": "={{ { to: $json.to, template: $json.template, sentAt: new Date().toISOString(), status: 'sent' } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-email",
      "name": "Log Email Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Email sent successfully', template: $json.template } }}",
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Email Notification Webhook": {
      "main": [
        [
          {
            "node": "Is Welcome Email?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Test Results Email?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Appointment Reminder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Welcome Email?": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Test Results Email?": {
      "main": [
        [
          {
            "node": "Send Test Results Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Appointment Reminder?": {
      "main": [
        [
          {
            "node": "Send Appointment Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Log Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Test Results Email": {
      "main": [
        [
          {
            "node": "Log Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Appointment Reminder Email": {
      "main": [
        [
          {
            "node": "Log Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Sent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "email-notifications-workflow",
  "tags": ["orientation-pro", "email", "notifications"]
} 