workflows/test-completion-workflow.json
{
  "name": "Test Completion Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-completion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Test Completion Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "test-completion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "test-type",
              "leftValue": "={{ $json.testType }}",
              "rightValue": "riasec",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "riasec-condition",
      "name": "Is RIASEC Test?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "test-type",
              "leftValue": "={{ $json.testType }}",
              "rightValue": "emotional",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "emotional-condition",
      "name": "Is Emotional Test?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "test-type",
              "leftValue": "={{ $json.testType }}",
              "rightValue": "career-transition",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "career-transition-condition",
      "name": "Is Career Transition Test?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:6464/api/ai-analysis/riasec",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "testData",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "riasec-analysis",
      "name": "Analyze RIASEC Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:6464/api/ai-analysis/emotional",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "testData",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "emotional-analysis",
      "name": "Analyze Emotional Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:6464/api/ai-analysis/career-transition",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "testData",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "career-transition-analysis",
      "name": "Analyze Career Transition Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:6464/api/notifications/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "type",
              "value": "test_completed"
            },
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:6464/api/database/save-test-results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "testResults",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-results",
      "name": "Save Test Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Test results processed successfully', data: $json } }}",
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Test Completion Webhook": {
      "main": [
        [
          {
            "node": "Is RIASEC Test?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Emotional Test?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Career Transition Test?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is RIASEC Test?": {
      "main": [
        [
          {
            "node": "Analyze RIASEC Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Emotional Test?": {
      "main": [
        [
          {
            "node": "Analyze Emotional Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Career Transition Test?": {
      "main": [
        [
          {
            "node": "Analyze Career Transition Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze RIASEC Results": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Emotional Results": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Career Transition Results": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Save Test Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Test Results": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "test-completion-workflow",
  "tags": ["orientation-pro", "test-automation"]
} 